# Игнорируем папку dist
dist/

# Игнорируем временную папку build
build/

# Игнорируем кэшированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем файл спецификации PyInstaller
*.spec

# Игнорируем файлы конфигурации среды
.env